.container-addTask {
  box-sizing: border-box;
  padding: 64px 96px 0px 96px;
}

.container-addTask h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
}

.form-addTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input,
.textArea {
  width: 440px;
  height: 48px;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px 0px 0px 0px;
  border: 1px solid #000000;
}
