.container-board {
  box-sizing: border-box;
  padding: 64px 96px 0px 96px;
}

.header-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 208px;
  width: 100%;
}

.header-board h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  margin: unset;
}

.section-search-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 504px;
  height: 48px;
  gap: 32px;
}

.input-findTask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 312px;
  height: 48px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  background: #ffffff;
}

.find-task {
  width: 232px;
  height: 32px;
  border-right: 1px solid #d1d1d1;
}

.btn-addTask {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 48px;
  padding: 8px 12px 8px 12px;
  gap: 4px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #2a3647;
  color: #ffffff;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  &:hover {
    cursor: pointer;
    background: #29abe2;
    border: unset;
    box-shadow: 0px 6px 11px -4px rgba(0, 0, 0, 0.64);
  }
}

.btn-addTask img {
  width: 32px;
  height: 32px;
}

.container-board-task {
  width: 100%;
  height: calc(100vh - 368px);
  overflow-x: scroll;
  padding: unset;
  display: flex;
  justify-content: space-between;
}

.prioTask {
  width: 244px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 16px 0px 16px;
}

@media (max-width: 1480px) {
  .container-board {
    padding: 64px 32px 0px 32px;
  }

  .header-board h1 {
    font-size: 36px;
    line-height: 43.2px;
  }
}
