.container-contacts {
  width: 100%;
  max-height: 91vh;
  margin-top: 4px;
  display: flex;
}

.nav-contacts {
  overflow-y: auto;
  width: 456px;
  height: calc(100vh - 100px);
  background: #ffffff;
  padding: 22.5px 0px 0px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-addPerson {
  width: 352px;
  height: 56px;
  padding: 12px 0px 12px 0px;
  gap: 16px;
  border-radius: 10px;
  background: #2a3647;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: #29abe2;
    border: unset;
    box-shadow: 0px 6px 11px -4px rgba(0, 0, 0, 0.64);
  }
}

.btn-addPerson img {
  width: 32px;
  height: 32px;
}

.container-contact-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 456px);
  padding: 96px 0px 0px 32px;
  height: calc(100vh - 100px);
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 569px;
  max-height: 73px;
}

.contact-info h1 {
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  color: #000000;
  margin: unset;
}

.contact-info div {
  height: 59px;
  border: 3px solid #29abe2;
}
.contact-info-text {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contact-info h2 {
  font-size: 27px;
  font-weight: 400;
  line-height: 32.4px;
  color: #2a3647;
  margin: unset;
}
