.form-addTask {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.container-task {
  display: flex;
  align-items: flex-start;
  padding: unset;
}

.container-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 376px;
}

.input,
.textArea {
  display: flex;
  box-sizing: border-box;
  width: 440px;
  gap: 10px;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 8px;

  &::placeholder {
    font-size: 20px;
    font-weight: 400;
  }
}

.input {
  height: 48px;
  padding: 12px 21px 12px 21px;
}

.textArea {
  height: 120px;
  padding: 18px 16px 18px 16px;
  &::placeholder {
    position: absolute;
    top: 12px;
    left: 21px;
  }
}

.add-category-btn {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  color: #29abe2;
  border: 2px solid #29abe2;
  padding: 0px 8px;
  box-sizing: border-box;
  border-radius: 8px;
  &:hover {
    cursor: pointer;
    color: #ffffff;
    background: #29abe2;
    border: 2px solid #29abe2;
  }
}

.spacer-addTask {
  height: 424px;
  margin: 0px 64px 0px 64px;
  border: 3px solid #d1d1d1;
}

.priority-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
  height: 416px;
}

.selectDate {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #d1d1d1;
  border-radius: 10px;
  width: 440px;
  height: 48px;
  padding: 12px 21px 12px 21px;
  margin-top: 8px;
}

.title-prio {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.btn-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.btn-prio {
  width: 136px;
  height: 56px;
  padding: 16px 10px 16px 10px;
  gap: 8px;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 5px -1px #d1d1d1;
  }
}

.btn-prio img {
  width: 20px;
  height: 14.5px;
  margin-left: 8px;
}

.input-subtask {
  width: 100%;
  height: 24px;
}

.form-footer {
  width: 1010px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-footer label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: #959595;
}

.form-footer span {
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  color: red;
}

.submitting-btn {
  width: 309px;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear-btn {
  width: 110px;
  height: 56px;
  padding: 16px;
  box-sizing: border-box;
  gap: 4px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    border: 1px solid #29abe2;
    cursor: pointer;
    color: #29abe2;
  }
}

.clear-btn img {
  width: 24px;
  height: 24px;
}

.create-btn {
  width: 183px;
  height: 56px;
  padding: 16px;
  gap: 4px;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 21px;
  font-weight: 700;
  line-height: 25.2px;
  color: #ffffff;
  background: #2a3647;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    cursor: pointer;
    background: #29abe2;
  }

  &:disabled {
    background: #37465c;
    cursor: default;
  }
}
